.loader{
	width: 4em;
	height: 4em;
	border: .4em solid #ccc;
	border-top-color: #ff6a00;
	border-radius: 100%;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto auto auto auto;
	animation: round 2s linear infinite;
}








@keyframes round{
	from{transform: rotate(0deg)}
	to{transform: rotate(360deg)}
}
