
body {
	left: 0%;
    top: 0%;
    margin: 0%;
    padding: 0px;
    position: relative;
}
header {
	background: rgba(0,0,0,0.4);
	color: white;
	padding: 4px 0px 6px 40px;
	height: 8.5%;
}
header h1{
	display: inline;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 150%;
	float: left;
	margin-top: 1%;
	margin-left: 1%;
}
header h1 a{
	color: white;
	text-decoration: none;
}
nav ul{
	display: inline;
	padding: 0px;
	float: left;
	margin-left: 24%;

}
nav ul li{
	display: inline-block;
	list-style-type: none;
	color: black;
	float: left;
	margin-left: 24%;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 130%;
}
.homered{
	background-color: black;
	padding: 30px 40px 20px 40px;
}
.homered:hover{
	color: red;
}
.homeblack:hover {
	color: red;
}
.profbox{
	width: 50%;
	height: 40%;
	background: rgba(0,0,0,0);
	padding: 30px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 4.7%;
	text-align: center;
}
.background{
	background: url(blur5.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
.profpic{
	border-radius: 50%;
	height: 30%;
	width: 30%;
}
body div h1{
	font-weight: 10;
	letter-spacing: 5;
	font-size: 200%;
}
body div p{
	font-weight: 200;
	letter-spacing: 1;
}
.logo{
	border-radius: 50%;
	height: 10%;
	width: 10%;
}
.logo2{
	border-radius: 50%;
	height: 1%;
	width: 3%;
	margin: 0.2% 0% 0.1% 2%;
	float: left;
}
#loading{
	width: 50px;
	height: 50px;
	border: 5px solid #ccc;
	border-top-color: #ff6a00;
	border-radius: 100%;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	animation: round 2s linear infinite;
}
#demo{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 17%;
}
.fixit{
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}











@keyframes round{
	from{transform: rotate(0deg)}
	to{transform: rotate(360deg)}
}
