body{
	max-width: 100%;
	overflow-x: hidden;
	/*padding-bottom: .2em;*/
}
body > *{
	padding: .2em;
}

.loader{
	width: 4em;
	height: 4em;
	border: .4em solid #ccc;
	border-top-color: #ff6a00;
	border-radius: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto auto auto auto;
	animation: round 2s linear infinite;
}








@keyframes round{
	from{transform: rotate(0deg)}
	to{transform: rotate(360deg)}
}
